body{
    
}
#nav{

}
#logo{
    vertical-align: center;
}
#dropdown1{
    width: 200px;
}
#fila-metodo-compra{
    padding-top: 20px;
    padding-bottom: 20px;
}
#parrafo-terminoscondiciones{
    padding-left: 15px;
    padding-right: 15px;
}